# Docker 
**/docker-compose.override.yml
**/docker-compose.*.yml
**/docker-compose.override.*.yml

# Environment
.env
**/.env.*
!**/.env.sample
!**/.env.*.sample

# System / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/